.image-top{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: change-img-anim 25s infinite;
  
}
.image-top:nth-of-type(1) {
  animation: change-img-anim-first 25s infinite;
  animation-delay: 0s;
}
.image-top:nth-of-type(2) {
  animation-delay: 7s;
}


@keyframes change-img-anim-first {
  0%{ opacity: 0;}
  30%{ opacity: 0.3}
  45%{ opacity: 0.4;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 0;}
  30%{ opacity: 0.3;}
  36%{ opacity: 0.4;}
  45%{ opacity: 0.5;}
  100%{ opacity: 0;}
}

