.image-top {
  position: absolute;
  height: 100vw;
  width: 100%;
  opacity: 0;
  animation: change-img-anim 18s infinite;
}
.image-top:nth-of-type(1) {
  animation: change-img-anim-first 18s infinite;
  animation-delay: 0s;
}
.image-top:nth-of-type(2) {
  animation-delay: 6s;
}
.image-top:nth-of-type(3) {
    background-position: bottom;
  animation-delay: 12s;
}
@keyframes change-img-anim-first {
  0%{ opacity: 0;}
  30%{ opacity: 0.3}
  45%{ opacity: 0.4;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 0;}
  30%{ opacity: 0.3;}
  36%{ opacity: 0.4;}
  45%{ opacity: 0.4;}
  100%{ opacity: 0;}
}
