.reserved {
  position: fixed;
  width: calc(100% - 150px);
  max-width: 150px;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
  z-index: 1000;
  bottom: calc(1px + env(safe-area-inset-bottom));
  right: calc(6px + env(safe-area-inset-right));
  transform: none;
}


.reserved.is-show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.fa-position-left {
position: static;
  top: calc(50% - 0.5em);
  left: 1rem;
}



a.btn-contact i.fa-position-left {
  font-size: 19px;
text-decoration: none;
  left: 1rem;
}

a.btn-contact2 {
		text-decoration: none;
	margin-bottom: 5px;
	 display: inline-flex;
  align-items: center;
 display: block;
  padding: 10px;
  background: #ff9d00;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

a.btn-contact {
		text-decoration: none;
	margin-bottom: 5px;
	 display: inline-flex;
  align-items: center;
 display: block;
  padding: 14px;
  background: #ff9800;
  color: #fff;
  text-align: center;
  border-radius: 999px;
  font-weight: bold;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}

a.btn-contact:hover {
  color: #ff8800da;
background-color: #ffffff;
font-weight: 800;
}

a.line-header-btn:hover{
      color: #47cc1bda;
background-color: #ffffff;
font-weight: 800;

}

.reserved-text{
font-size: 10px;
}

.reserved.is-hide-footer {
  transform: translateY(40px);
  opacity: 0.6;
}

	/* inputを非表示 */
.input-hidden{
	display: none;
}

.cta-fixed {
  position: fixed;
  right: 16px;
  bottom: 2px;
  z-index: 9999;
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: calc(100vw - 32px);
}

.btn-contact {
  background: #fff;
  padding: 5px 12px;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.2;
  width: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    white-space: nowrap;
}

.reserved.cta-hide {
  opacity: 0;
  pointer-events: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* LINEボタン */
.line-header-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  background: #06c755;
  color: #fff;
  padding: 10px 12px;
  border-radius: 999px;

  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  white-space: nowrap;

  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.line-header-btn img {
  width: 18px;
  height: 18px;
}
.line-cta-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #06c755;
  color: #fff;
  padding: 12px 16px;
  border-radius: 999px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);

  font-size: 14px;
  font-weight: 600;
}

.line-cta-inner img {
  width: 22px;
  height: 22px;
}

#line-top{
    width: 45px;
}