
body{
	margin-top:0;
	margin:0;
	padding:0;
	background-color:#ffffff;

}

html{
	font-size: 18px;
  box-sizing: border-box;
line-height: 1.7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}



article{
	
	margin-top:10px;
	margin:1%;
	padding:1%;
	background-color:#ffffff;
	
}



.hover1 {
	transition: all 0.6s ease 0s;
}
.hover1:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}




	/* inputを非表示 */
.input-hidden{
	display: none;
}
	/* label */
.hamburger-demo-switch{
	cursor: pointer;
	position: absolute;
	right: 3%;
	top:5px; /* ハンバーガーアイコンの位置（上から） */
	z-index: 9999;
	width: 4em; /* アイコン（クリック可能領域）の幅 */
	height: 4em; /* アイコン（クリック可能領域の）高さ */
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-demo1:checked ~ .hamburger-demo-switch{
	position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
	width: 25px;
	height: 3px;
	background: #333; /* ハンバーガーアイコンの色 */
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-switch-line1{
		transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
	transform: translate(-50%, 200%);
}
/* ハンバーガーアイコン･アニメーション */
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
	width: 0;
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
	transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
	transform: rotate(-45deg) translate(-40%, -325%);
}
/* メニューエリア */
.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa; /* メニューエリアの背景色 */
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
	top: 0;
	left: 100%;
	width: 70%;
}
/* メニューリスト */
.hamburger-demo-menulist{
	margin-right: 3%;
	padding-left: 5% !important; /* !important不要な場合もあり */
	list-style: none;
}
.hamburger-demo-menulist li a{
	text-decoration: none;
	color: #333; /* メニューリストの文字色 */
	display: block;
	padding: .5em 0;
}
/* メニューエリア･アニメーション */
	/* 右から */
#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
	left: 30%;
}
	/* コンテンツカバー */
#hamburger-demo1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;


.moji{
	 text-align: center;
	margin-top:5;

}
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}



.btn,
a.btn,
button.btn {
    margin: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-wrap-pc-sp {
  min-width: 160px;
  max-width: 160px;
  margin: 0 auto 10px;
}

a.btn-pc-sp {
  line-height: 1.2;

  padding: 1rem 1.2rem;
  color: #ffff;
}

a.btn-contact {
  display: block;

  padding: 1.2rem 0;

  color: #fff;
  background: #ed7e00;
  box-shadow: 0 5px 0 #b96f00;
}

a.btn-contact i {
  font-size: 2rem;
}

a.btn-contact i.fa-position-left {
  font-size: 2rem;

  left: 1.2rem;
}

a.btn-contact:hover {
  color: #ffffff;
  opacity: 0.5;
}

a.btn-tel {
  display: block;
border: 2px solid #ff9900;
  margin-top: 15px;
  padding: 1rem 1rem;
  color: #ff9900;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0 5px 0 #498865;
  box-shadow: 0 5px 0 #ff9000;
}

a.btn-tel i {
  font-size: 2rem;
}

a.btn-tel i.fa-position-left {
  font-size: 1.5rem;
  left: 1.2rem;
}

a.btn-tel .number {
  line-height: 1;

  display: inline-block;

  margin-top: 0.5rem;
  padding: 0.25rem 2rem;

  letter-spacing: 0;

  color: rgb(134, 177, 153);
  border-radius: 0.5rem;
  background: #fff;
}

a.btn-tel:hover {
  color: #ffffff;
  opacity: 0.7;
  background-color: #ed7e00;
}





.map {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9のアスペクト比 */
    height: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}










footer{
background-image:url("../image/下画像.jpg");
	background-size: cover;

	color:#113f5f;
	text-align: center;
	margin:0;
	width: 100%;
height: 130px;
	
}


