.box p {
    color: #333;
    line-height: 1.5;
}

.box-title {
    position: absolute;
    display: inline-block;
    top: -0.6rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0rem 1rem;
    background-color: white;
    font-weight: 600;
}

.box-body {
    padding: 1rem;
    line-height: 1.5;
}

.menulist h2{
    font-size: 20px;
text-shadow: 0 2px 2px#bbbbbb;
  
  margin: 40px 30px 30px 30px;
  text-align: center;

}

.menulist h2::after {
  content: "";
  display: block;
  width: 48px;
  height: 2px;
  margin: 12px auto 0;
  background: #c8b08a;
}

.menulist{
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
}

.menu-item {
   position: relative;
    padding: 1rem;
    border: 2px solid #000000;
}

.menu-item li{
  font-size: 18px;
    line-height: 1.5;
}

.menu-item a{
  font-size: 20px;
    line-height: 1.5;
}



.accordion {
    padding: 1rem;
}
.menu-accordion {
    background: #e8dab2;
    padding: 1rem;
    box-shadow: 2px 5px 10px rgba(0,0,0,.1);
margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.accordion-item {
    margin-bottom: 0.5rem;
}

.accordion-check {
    display: none;
}

.accordion-label {
    box-shadow: 2px 5px 5px #605841;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    background-color: #cfaf74;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

.accordion-label::after {
    position: absolute;
    top: 50%;
    right: 0px;
    height: 100%;
    width: 40px;
    transform: translateY(-50%) rotate(0deg);
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    content: '+';
}

.accordion-box {
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #fff;
    transition: all .5s;
}

.accordion-check:checked~.accordion-box {
    height: auto;
    opacity: 1;
    padding: 1rem;
}

.accordion-check:checked+.accordion-label:after {
    transform: translateY(-50%) rotate(45deg);
}


.accordion-box p {
    line-height: 1.5;
}

.img-pic1{
margin: 5px;
height: 60px;
}

.menu-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.menu-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}