





.contener1 img{
width: 100%;
height: auto;
}





a.btn-contact2 {
    font-size: 15px;
		text-decoration: none;
	margin-bottom: 5px;
	 display: inline-flex;
  align-items: center;
  justify-content: center;
  width:auto;
border: 2px solid #ff9900;
border-radius: 8px;
  padding: 8px 10px;
  color: #ffffff;
  background: #ff9500;
  box-shadow: 0 3px 1px #cd821f;
}

a.btn-contact2:hover {
  color: #ff8c00;
  opacity: 0.5;
background-color: #ffffff;
}

