

@media (max-width: 480px) {

  .hamburger-demo-switch {
    width: 4em;
    height: 4em;
  }
  .btn-contact-top{
    display: none;
}

}

@media (max-width: 991px) {
  body {
    line-height: 1.7;
    letter-spacing: 0.02em;
	
  }

  h1 {
    letter-spacing: 0.04em;
  }

  img {
  max-width: 100%;
  height: auto;
}
  .menu-accordion {
    gap: 1rem;
  }
.carousel2{
  background-position: center;
  background-size: contain;
}

.header{
  padding: 10px;
  display: flex;
}

.header-left{
  display: flex;
  flex-direction: column;
}




.main{
  z-index: -1;
}
.pc-nav {
  display: none;
}

}

@media (max-width: 750px) {
  .noaccordion-body-pc{
  display: none;

  }
}



/* タブレット*/
@media (min-width:750px){


  .hamburger {
    display: none;
  }
  
  #navi1,
  .navi2{
    display: none;
  }


  .pc-nav {
    display: block;
font-size: 18px;
  }
  .pc-nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  .pc-nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  .main-text h2{
    padding: 20px50px;
        font-size: 3rem;
  }
  .main-text p{
    padding: 50px;
        font-size: 1.2rem;
  }

  .last-cta {
    padding: 100px 20px;
  }

  .last-cta h2 {
    font-size: 32px;
  }

  .cta-lead {
    font-size: 16px;
  }

  .cta-buttons {
    flex-direction: row;       /* 横並び */
    justify-content: center;   /* 中央寄せ */
  }

  .btn-main,
  .btn-line {
    width: 280px;              /* ボタン幅固定 */
    padding: 18px;
    font-size: 16px;
  }
.pc-right {
  text-align: left;
  display: flex;
  margin-right: 0px;
  padding: 30px 0;
}

#body-pc-title {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 28px;
  margin-bottom: 20px;
}

.pc-right p {
  padding: 30px 30px  0;
  font-size: 22px;
  line-height: 1.3;
}
.img-pic1-pc {
  margin: 30px;
  max-width: 500px;
  height: auto;
}
#bodysp{
  display: none;
}

}


/* PC */
@media (min-width:992px){
	
.details-wrap{
	width:1200px;
	height:500px;
}
	.kakou{
	margin-top:50px;
    display: flex;
}


.carousel {
  padding: 0px 20px;
    height: auto;
    overflow: hidden;
  }

  .track {
    transform: none !important;
    transition: none;
  }

  .track img{
     display: block; 
    }

  .slide {
    min-width: auto;
    width: 33.333%;
  }

  .prev,
  .next,
  .dots {
    display: none;
  }
  
  #shop2{
    font-size: 50px;
  }
  .face-item{
    gap: 15;
  }

  .face{
    position: relative;
  }
#face-pic{
  margin: 0px;
  width: 200px;
    height: auto;
  padding:0px;
}

#yoyaku{
  font-size: 30px;
padding-top: 30px;

}

.carousel2 {
    height: auto;
  }

  .track2 {
    transform: none !important;
    transition: none;
  }

  .slide2 {
    width: 25%;
  }

  .prev,
  .next,
  .dots {
    display: none;
  }

.original-item{
  margin: auto;
 display: flex;
 padding: 20px;
 gap: 10px;
}

    .point{
  background-size: 100%;
}
.voice-card{
  justify-content: center;
text-align: center;
    display: flex;

}

.card{
  margin: 10px 30px;
}

.recommend-text{
  width: 55%;
  text-align: center;
}

.container1 {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0;
}

.recommend-box{
  display: flex;
  width: 100%;
  margin: auto;
}
.recommend-text h2 {
  margin-bottom: 24px;

}



.recommend-item{
width: 45%;
  height: auto;
  display: block;
  margin: auto;
}

.recommend-text ul{
    width: 55%;
    text-align: center;
      padding: 20px;

}

.underline{
  display: flex;
  gap: 20px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}


.main h2{
  padding-left: 50px;
  text-align: left;
}
.main-text{
  padding: 100px;
}

 .noaccordion {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2列 */
    gap: 1.5rem;
    margin-bottom: 30px;
  }

  
 .accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    gap: 1.5rem;
  }

.accordion-label {
    width: 100%;
    box-shadow: 2px 5px 5px #605841;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 0.8em;
    background-color: #5a554c;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}

  .hamburger {
    display: none;
  }
  
  #navi1,
  .navi2{
    display: none;
  }


  .pc-nav {
    display: block;
font-size: 18px;
  }
  .pc-nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  .pc-nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  .main-text h2{
    padding: 20px50px;
        font-size: 3rem;
  }
  .main-text p{
    padding: 50px;
        font-size: 1.2rem;
  }

  .last-cta {
    padding: 100px 20px;
  }

  .last-cta h2 {
    font-size: 32px;
  }

  .cta-lead {
    font-size: 16px;
  }

  .cta-buttons {
    flex-direction: row;       /* 横並び */
    justify-content: center;   /* 中央寄せ */
  }

  .btn-main,
  .btn-line {
    width: 280px;              /* ボタン幅固定 */
    padding: 18px;
    font-size: 16px;
  }
.top-h1{
  font-weight: 700;
  font-size: 28px;
 position: relative;
  display: inline-block;
  padding: 1rem 2.5rem;
  margin: 0;
  background: #e28f00;
  color: #2c2c2c;
  z-index: 1;

}

.top-h1::before,
.top-h1::after {
  position: absolute;
  content: '';
}

.top-h1::before {
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid #ba7c08;
  border-left: 10px solid transparent;
}

.top-h1::after {
  right: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid #ba7c08;
  border-right: 10px solid transparent;
}
.highlight{
  font-size: 28px;
    color: #ffffff;
    font-weight: 900;
}

}
