





@media (max-width: 991px) {
  body {
    line-height: 1.7;
    letter-spacing: 0.02em;
	
  }

  h1 {
    letter-spacing: 0.04em;
  }

  img {
  max-width: 100%;
  height: auto;
}
  .menu-accordion {
    gap: 1rem;
  }
.carousel2{
  background-position: center;
  background-size: contain;
}

.header{
  padding: 10px;
  display: flex;
}

.header-left{
  display: flex;
  flex-direction: column;
}




.main{
  z-index: -1;
}
.pc-nav {
  display: none;
}


}



/* PC */
@media (min-width:992px){
	
.details-wrap{
	width:1200px;
	height:500px;
}
	.kakou{
	margin-top:50px;
    display: flex;
}

.contener1{
	display: flex;
}
.carousel {
  padding: 0px 20px;
    height: auto;
    overflow: hidden;
  }

  .track {
    transform: none !important;
    transition: none;
  }

  .track img{
     display: block; 
    }

  .slide {
    min-width: auto;
    width: 33.333%;
  }

  .prev,
  .next,
  .dots {
    display: none;
  }
  


.carousel2 {
    height: auto;
  }

  .track2 {
    transform: none !important;
    transition: none;
  }

  .slide2 {
    width: 25%;
  }

  .prev,
  .next,
  .dots {
    display: none;
  }

  .original2{
 display: flex;
 padding: 20px;
}

    .point{
  background-size: 100%;
}
.voice-card{

    display: flex;
}


.recommend-item img{
  width: 50%;
  height: auto;
}

.main h2{
  padding-left: 50px;
  text-align: left;
}
.main-text{
  padding: 100px;
}

 .accordion {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2列 */
    gap: 1.5rem;
  }


  .hamburger {
    display: none;
  }
  
  #navi1,
  .navi2{
    display: none;
  }


  .pc-nav {
    display: block;
font-size: 18px;
  }
  .pc-nav ul{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  .pc-nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
}


