@media (min-width: 768px) {
  body {
    line-height: 1.7;
    letter-spacing: 0.02em;
	
  }

  h1 {
    letter-spacing: 0.04em;
  }

 .accordion {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2åˆ— */
    gap: 1.5rem;
  }
  img {
  max-width: 100%;
  height: auto;
}
  .menu-accordion {
    gap: 1rem;
  }

  .point{
  position: relative;
  background-image: url(../image/3/inside2.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0 20px;
  text-align: center;
}


.main{
  z-index: -1;
}
}



/* PC */
@media (min-width:992px){
	
.details-wrap{
	width:1200;
	height:500;
}
	.kakou{
	margin-top:50px;
    display: flex;
}

.contener1{
	display: flex;
}
.carousel {
  padding: 0px 20px;
    height: auto;
    overflow: visible;
  }

  .track {
    transform: none !important;
    transition: none;
  }

  .slide {
    min-width: auto;
    width: 33.333%;
  }

  .prev,
  .next,
  .dots {
    display: none;
  }
  





.carousel2 {
    height: auto;
  }

  .track2 {
    transform: none !important;
    transition: none;
  }

  .slide2 {
    width: 25%;
  }

  .prev,
  .next,
  .dots {
    display: none;
  }

  .original2{
 display: flex;
 padding: 20px;
}

    .point{
  background-size: 100%;
}
.voice-card{

    display: flex;
}


}
