@media (max-width: 768px) {
  body {
    line-height: 1.7;
    letter-spacing: 0.02em;
	
  }

  h1 {
    letter-spacing: 0.04em;
  }
}



/* PC */
@media (min-width:992px){
	
.details-wrap{
	width:1200;
	height:500;
}
	.kakou{
	margin-top:50px;
    display: flex;
}

.contener1{
	display: flex;
}



}

