





/* カルーセル全体 */

.carousel {
  margin-top: 90px;
  position: relative;
  width: 100%;
  overflow: hidden;
    touch-action: pan-y;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.track {
  width: 100%;
     height: 100%;   
  touch-action: pan-y;
  display: flex;
  transition: transform 0.4s ease;
  will-change: transform;
}


.slide img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  display: block;
}
.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
    transform: translateY(15px);
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  opacity: .4;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,.4);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev::before,
.next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(225deg);
}

.next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background: rgba(0,0,0,.6);
}


.face{
  position: relative;
  z-index: 20;
  margin-top: 10px;
text-align: center;
background-image: url(image/gaikann2.webp);
}
face::before{
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(248,245,240,0.85);
  z-index: 1;

}
#eki{
  margin-top: 20px;
  font-size: 13px

}

.shop-name{

display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}


#face-logo{
  width: 50px;
    height: auto;
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
}

#shop{
  font-family: "M PLUS 1", sans-serif;

    padding: 10px;
  font-size: 28px;
  inset: 0;
  color: #2b2b2b;
  text-shadow: 1px 2px 2px rgba(167, 167, 167, 0.75);
}

#shop2{
  font-family: "Mochiy Pop One", sans-serif;  margin-top: 8px;

  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
    margin-left: 10px;
  color: #2b2b2b;
  text-shadow: 1px 2px 2px rgba(167, 167, 167, 0.75);
}

.face-item{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#yoyaku{
  padding-top: 30px;
  font-family: Pretendard,monospace;
  font-size: 20px;

}

#salon{
    font-family: Pretendard,monospace;

font-size: 20px;
}


#face-pic{
  margin: 0px;
  width: 150px;
    height: auto;
  display: block;
  padding:0px;
}

#face-pic2{  
  justify-content: center;
  margin: 0px;
  width: 60vw;
  background-size: contain;
    height: auto;
  display: inline-flex;
  padding:10px;
}
.top-section{
  padding-bottom: 50px;
}

.top-h1-border{
  margin-top: -30px;
  background-color: #fff;
  padding: 60px 0;
}




.introduce{ 
  z-index: 2;
  background-color: #ceb998;
  
}
.top-h1{
  font-weight: 700;
  font-size: 22px;
 position: relative;
  display: inline-block;
padding: 20px;
  margin: 0;
  background: #8a6d3b;
  color: #2c2c2c;
  z-index: 1;

}

.top-h1::before,
.top-h1::after {
  position: absolute;
  content: '';
}

.top-h1::before {
  bottom: -20px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 20px solid #2c2c2c;
  border-left: 20px solid transparent;
}

.top-h1::after {
  right: 0;
  bottom: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid #2c2c2c;
  border-right: 20px solid transparent;
}
.highlight{
  font-size: 25px;
    color: #ffffff;
    font-weight: 900;
}


.hasira-title {

  font-family: "Noto Serif JP", serif;
  font-size: 22px;
  font-weight: 600;
  color: #241a0c;
  font-weight: bold;
  text-align: center;
    position: relative;
    padding-top: 1.5em;
    color: #333333;
}

.hasira-title::before {
    position: absolute;
    z-index: -1;
    bottom: 10px;
    color: #f5e7d6;
    font-size: 2em;
    line-height: 1;
    content: attr(data-number);
    pointer-events: none;
}

.underline{
  text-align: center;
  margin-bottom: 30px;
}

.introduce strong{
  font-size: 20px;
    color: #333;
  font-weight: 700;

}




.introduce-box{
  text-align: center;
  padding: 50px 0;
      background-color: #ceb998;

}
.hasira{
  width: 250px;
  height: auto;
  margin: 20px auto;
}

.hasira-box{
  margin: 35px 0;
}

.introduce-text{
  font-size: 18px;
  font-weight: 400;
    color: #333;
    font-style: italic;
  padding: 0 4px;
  background: linear-gradient(transparent 60%, #fff493 60%);
  text-align: center;
  position: relative;
  display: inline-block;
}


.contener1{
  margin: 0;
  padding: 40px 20px;
  background-color: #ceb998;
}


.recommend-box{
  margin: 50px auto;
  padding: 10px auto;
      background-color: #ffffff;
        border-radius: 10px;
        
}


.recommend{
  padding: 16px;
  margin: auto;
  
}
.recommend ul{
    list-style: none;

}


.recommend-box li{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    color: #030303;
    padding-bottom: 20px;
      font-size: 16px;
}

.recommend-item img{
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recommend-text{

  padding: 20px 10px;
  font-size: 16px;
    color: #333;
    line-height: 1.6;
}



.title{
    font-size: 26px;
    color: #241a0c;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.point{
  position: relative;
  background-image: url(../image/3/inside2.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0 20px;
  text-align: center;
  margin: 0;
}

.point::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(248,245,240,0.85);
  z-index: 1;
}

.point > *{
  position: relative;
  z-index: 2;
}

.point h2{
  margin-top: 50px;
    position: relative;
    z-index: 2;
}

.point h2::after {
  content: "";
  display: block;
  width: 48px;
  height: 3px;
  margin: 5px auto 0;
  background: #c8b08a;
}

.point-pic{
  width:50px;
}

.custom-shape-divider-top-1770523462 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin: 0;
    transform: rotateZ(0);
}

.custom-shape-divider-top-1770523462 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1770523462 .shape-fill {
    fill: #ceb998;
}


.about-circle {
    z-index: 2;
  position: relative;
  width: 320px;
  aspect-ratio: 1 / 1;
  margin: 50px auto 10px;
  border-radius: 50%;
}
.item {
      z-index: 2;

  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #af9c61;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  z-index: 99;
}
.item.top {
  display: flex;
  flex-direction: column;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.item.left {
    display: flex;
  flex-direction: column;

  left: -20px;
  top: 50%;
  transform: translateY(-20%);
}

.item.right {
    display: flex;
  flex-direction: column;

  right: -20px;
  top: 50%;
  transform: translateY(-20%);
}

.center {
      z-index: 2;

  background-image: url(../image/メダル口コミ.png);
  position: absolute;
  inset: 0;
  margin: auto;
  width: 160px;
  height: 140px;
  background-size: 100%;
  background-position: center;
 border-radius: 20px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 100;
}


.center strong{
  font-size: 28px;
  color: #473b3b;
  text-shadow: 0 1px 2px rgba(255,255,255,0.8);
}

.center p{
    font-size: 18px;
  color: #473b3b;
  text-shadow: 0 1px 2px rgba(255,255,255,0.8);

}


.about-circle::before {
  content: "";
  position: absolute;
  inset: 30px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.6);
}
.about-circle::after {
  content: "";
  position: absolute;
  inset: 25px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.6);
}


.stars {
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-shadow:
    0 0 5px #fff,
    0 1px 2px rgba(0,0,0,0.3);
}

.stars::before {
  content: "★★★★★";
  color: #fff; 
}

.stars::after {
  content: "★★★★★";
  color: #f5a623;
  position: absolute;
  left: 0;
  top: 0;
  width: 93%;
  overflow: hidden;
  white-space: nowrap;
}
.stars.rate-45::after { width: 90%; }
.stars.rate-40::after { width: 80%; }

.about-slide {
      z-index: 2;
    box-shadow: 5px 10px 20px #ccc;

  margin: 10px;
    position: relative;
    padding: 3.5rem 1rem 1rem;
    outline: 2px solid #333;
    outline-offset: -1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 310px;
}

.about-slide::before {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #f6e8d1;
    color: rgb(0, 0, 0);
    font-size: 15px;
    content: attr(data-title);
}

.about-slide  h2{
  text-align: center;
  font-size: 18px;
}


.about-slide p {
  font-size: 15px;
  padding: 10px 30px 10px 30px;
    color: #333;
    line-height: 1.5;

}

.carousel2 {
      z-index: 2;

  position: relative;
  overflow: hidden;
    touch-action: pan-y;
}

.slide2 {
  width: 100%;    
  display: flex;
  justify-content: center;
  flex-shrink: 0;
   display: flex;
  align-items: flex-start;
  
}

.track2 {
  
  width: 100%;
  min-height: 350px; 
     height: auto;   
  touch-action: pan-y;
  display: flex;
  transition: transform 0.4s ease;
  will-change: transform;
}


.slide2 img {
  width: 60px;
margin: 15px auto;
  object-fit: contain;
  display: block;
}


.dots2 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  opacity: .4;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

.prev2,
.next2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,.4);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev2::before,
.next2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(225deg);
}

.next2::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.prev2 {
  left: 10px;
}

.next2 {
  right: 10px;
}

.prev2:hover,
.next2:hover {
  background: rgba(0,0,0,.6);
}

