
.card {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0;
    border-radius: 0.25rem;
    box-shadow:2px 2px 2px 2px #ccc;
    width: 300px;
}

.card-image {
    width: 30%;
    height: 50px;
    object-fit: contain;
}


.card-box {
    padding-left: 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-description {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}



.voice h2{
  font-size: 20px;
}

.voice{
  margin: 30px 10px;
  text-align: center;
}
.voice h3{
    display: inline-block;
    position: relative;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.voice h3::before,
.voice h3::after {
    position: absolute;
    top: 0.8rem;
    height: 1.8rem;
    content: '';
}

.voice h3::before {
    border-left: solid 3px;
    left: 0;
    transform: rotate(-30deg);
}

.voice h3::after {
    border-right: solid 3px;
    right: 0;
    transform: rotate(30deg);
}



.splide__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}