

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body{
	margin-top:0;
	margin:0;
	padding:0;
	background-color:#ffffff;

}

.html{
	font-size: 18px;
  box-sizing: border-box;
line-height: 1.7;
  box-sizing: border-box;

}



.article{
	
	margin-top:10px;
	margin:1%;
	padding:1%;
	background-color:#ffffff;
	
}


  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.hover1 {
	transition: all 0.6s ease 0s;
}
.hover1:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 左揃え */
}


.logo-text {
  padding: 2px;
  font-size: 12px;
  color: #666;
  margin-bottom: 3px;
  line-height: 1.2;
  white-space: nowrap;
}

#logo {
  padding-left: 5px;
    width: 120px;
    object-fit: contain;
}

.reserved{
  padding-right: 20px;
  margin-left: auto;
  width:200px;
position: relative;
align-items:flex-end
}


.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}




a.btn-contact i {
  font-size: 15px;
}

a.btn-contact i.fa-position-left {
  font-size: 20px;

  left: 1.2rem;
}

a.btn-contact {
  width: 100px;
  
  display: block;
border: 2px solid #ff9900;
border-radius: 15px;
  padding: 20px;
  color: #ffffff;
  background: #ff9500;
  box-shadow: 0 3px 1px #cd821f;
}

a.btn-contact:hover {
  color: #ff8c00;
  opacity: 0.5;
background-color: #ffffff;
}

	/* inputを非表示 */
.input-hidden{
	display: none;
}
	/* label */
.hamburger-demo-switch{
  margin-top: 10px;
	cursor: pointer;
	position: absolute;
	right: 3%;
	top:5px; /* ハンバーガーアイコンの位置（上から） */
	z-index: 9999;
	width: 4em; /* アイコン（クリック可能領域）の幅 */
	height: 4em; /* アイコン（クリック可能領域の）高さ */
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-demo1:checked ~ .hamburger-demo-switch{
	position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
	width: 25px;
	height: 3px;
	background: #333; /* ハンバーガーアイコンの色 */
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-switch-line1{
		transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
	transform: translate(-50%, 200%);
}
/* ハンバーガーアイコン･アニメーション */
#hamburger1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
	width: 0;
}
#hamburger1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
	transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
	transform: rotate(-45deg) translate(-40%, -325%);
}
/* メニューエリア */
.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa; /* メニューエリアの背景色 */
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
	top: 0;
	left: 100%;
	width: 70%;
}
/* メニューリスト */
.hamburger-demo-menulist{
	margin-right: 3%;
	padding-left: 5% !important; /* !important不要な場合もあり */
	list-style: none;
}
.hamburger-demo-menulist li a{
	text-decoration: none;
	color: #333; /* メニューリストの文字色 */
	display: block;
	padding: .5em 0;
}
/* メニューエリア･アニメーション */
	/* 右から */
#hamburger1:checked ~ .hamburger-demo-menuwrap{
	left: 30%;
}
	/* コンテンツカバー */
#hamburger1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;

}
.moji{
	 text-align: center;
	margin-top:5;

}




.map {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9のアスペクト比 */
    height: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




footer{
background-color: #fafafa;

	color:#000000;
	text-align: center;
	margin:0;
	width: 100%;
height: 130px;
	
}


