





/* カルーセル全体 */

.carousel {
  margin-top: 90px;
  position: relative;
  width: 100%;
  overflow: hidden;
    touch-action: pan-y;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.track {
  width: 100%;
     height: 100%;   
  touch-action: pan-y;
  display: flex;
  transition: transform 0.4s ease;
  will-change: transform;
}


.slide img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  display: block;
}
.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  opacity: .4;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,.4);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev::before,
.next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(225deg);
}

.next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background: rgba(0,0,0,.6);
}


.face{
  position: relative;
  z-index: 20;
  margin-top: 10px;
text-align: center;
}
face::before{
    content: "";
  position: absolute;
  inset: 0;
  background: rgba(248,245,240,0.85);
  z-index: 1;

}
#eki{
  font-size: 11px;
}


.set{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 10px 50px;

}


.set h2{
   width: calc(50% - 4px);
   color: #fff;
     background: #c0ac8a;
     margin: 5px auto;
  padding: 12px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.8;
}
.set h2:last-child {
  width: 80%;
}

.shop-name{
display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}


#face-logo{
  width: 50px;
    height: auto;
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
}

#shop{
  font-family: "Noto Serif JP", serif;

  margin-top: 8px;
    margin-bottom: 0;

  font-size: 25px;
  inset: 0;
  color: #111;
  text-shadow: 1px 2px 3px rgba(81, 81, 81, 0.75);
}

#shop2{
  font-family: "Noto Serif JP", serif;

  font-size: 36px;
    margin-bottom: 10px;
    margin-left: 10px;
  color: #111;
  text-shadow: 1px 2px 3px rgba(81, 81, 81, 0.75);
}
#yoyaku{
  font-family: Pretendard,monospace;
  font-size: 13px;
  margin: auto;
  width: 120px;
  border-bottom: solid 2px #222;

}

#salon{
    font-family: Pretendard,monospace;

font-size: 12px;
margin-bottom: 20px;
}

.introduce{ 
    position: relative;
  z-index: 2;
   background: #fdfdfd;
  border-radius: 60% 40% 55% 45% / 55% 60% 40% 45%;
  padding: 4rem 3rem;
  max-width: 900px;
  margin: 0 auto;
}



.introduce p {
    line-height: 1.5;
}
.curved { 
  padding-top: 10px;
  margin-top:50px ;
  position: relative;
  background: #ffffff;
  height: auto;
  z-index: 1;
}


.curved::after {
    background-color: #be9f6e;

  content: '';
  border-top-left-radius: 90% 20%;
  border-top-right-radius: 90% 20%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
    z-index: 1;
}

h1{
  font-size: 20px;
}

article p{
  margin-top: 20px;
  font-size: 16px;
}

.contener1{
  padding: 30px;
  background-color: #be9f6e;
}


.recommend-box{
      background-color: #ffffff;
        border-radius: 10px;

}

.recommend{
  padding: 18px;
}

.recommend-box li{
    display: flex;
    align-items: center;
    padding: 10px;
    column-gap: 8px;
    color: #030303;
}

.recommend-box li::before {
    width: 0.8em;
    height: 0.4em;
    border-bottom: 4px solid #321111;
    border-left: 4px solid #321111;
    transform: rotate(-45deg) translate(2px, -2px);
    content: '';
}
.recommend-item img{
  width: 100%;
  height: auto;
}


.title{
    font-size: 26px;
    color: #241a0c;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.point{
  position: relative;
  background-image: url(../image/3/inside2.jpeg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0 20px;
  text-align: center;
}

.point::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(248,245,240,0.85);
  z-index: 1;
}

.point > *{
  position: relative;
  z-index: 2;
}

.point h2{
    position: relative;
    z-index: 2;
}

.point h2::after {
  content: "";
  display: block;
  width: 48px;
  height: 3px;
  margin: 5px auto 0;
  background: #c8b08a;
}

.about-circle {
    z-index: 2;
  position: relative;
  width: 320px;
  aspect-ratio: 1 / 1;
  margin: 50px auto 10px;
  border-radius: 50%;
}
.item {
      z-index: 2;

  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #af9c61;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  z-index: 99;
}
.item.top {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.item.left {
  left: -20px;
  top: 50%;
  transform: translateY(-20%);
}

.item.right {
  right: -20px;
  top: 50%;
  transform: translateY(-20%);
}

.center {
      z-index: 2;

  background-image: url(../image/メダル口コミ.png);
  position: absolute;
  inset: 0;
  margin: auto;
  width: 160px;
  height: 140px;
  background-size: 100%;
  background-position: center;
 border-radius: 20px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 100;
}


.center strong{
  font-size: 28px;
  color: #473b3b;
  text-shadow: 0 1px 2px rgba(255,255,255,0.8);
}

.center p{
    font-size: 18px;
  color: #473b3b;
  text-shadow: 0 1px 2px rgba(255,255,255,0.8);

}


.about-circle::before {
  content: "";
  position: absolute;
  inset: 30px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.6);
}
.about-circle::after {
  content: "";
  position: absolute;
  inset: 25px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.6);
}


.stars {
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-shadow:
    0 0 5px #fff,
    0 1px 2px rgba(0,0,0,0.3);
}

.stars::before {
  content: "★★★★★";
  color: #fff; /* 下地を白に */
}

.stars::after {
  content: "★★★★★";
  color: #f5a623;
  position: absolute;
  left: 0;
  top: 0;
  width: 93%;
  overflow: hidden;
  white-space: nowrap;
}
.stars.rate-45::after { width: 90%; }
.stars.rate-40::after { width: 80%; }

.about-slide {
      z-index: 2;
    box-shadow: 5px 10px 20px #ccc;

  margin: 10px;
    position: relative;
    padding: 3.5rem 1rem 1rem;
    outline: 2px solid #333;
    outline-offset: -1.5rem;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 310px;
}

.about-slide::before {
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #f6e8d1;
    color: rgb(0, 0, 0);
    font-size: 15px;
    content: attr(data-title);
}

.about-slide  h2{
  text-align: center;
  font-size: 18px;
}


.about-slide p {
  font-size: 15px;
  padding: 20px 30px 10px 30px;
    color: #333;
    line-height: 1.5;

}

.carousel2 {
      z-index: 2;

  position: relative;
  overflow: hidden;
    touch-action: pan-y;
}

.slide2 {
  width: 100%;    
  display: flex;
  justify-content: center;
  flex-shrink: 0;
   display: flex;
  align-items: flex-start;
  
}

.track2 {
  
  width: 100%;
  min-height: 350px; 
     height: auto;   
  touch-action: pan-y;
  display: flex;
  transition: transform 0.4s ease;
  will-change: transform;
}


.slide2 img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  display: block;
}


.dots2 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  opacity: .4;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

.prev2,
.next2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,.4);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev2::before,
.next2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(225deg);
}

.next2::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.prev2 {
  left: 10px;
}

.next2 {
  right: 10px;
}

.prev2:hover,
.next2:hover {
  background: rgba(0,0,0,.6);
}

