





/* カルーセル全体 */
.carousel {
  margin-top: 120px;
  position: relative;
  width: 100%;
  height: 60vw;
  overflow: hidden;
    touch-action: pan-y;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.track {
  width: 100%;
     height: 100%;   
  touch-action: pan-y;
  display: flex;
  transition: transform 0.4s ease;
  will-change: transform;
}


.slide img {
  max-width: 100%;
  max-height: 100%;

  object-fit: contain;
  display: block;
}
.dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  background: #fff;
  opacity: .4;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgba(0,0,0,.4);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev::before,
.next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(225deg);
}

.next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background: rgba(0,0,0,.6);
}
.face{
  margin-top: 10px;
text-align: center;
}
#eki{
  font-size: 12px;
}




.set h2{
border: solid 2px #565656;
}

.introduce{
  padding: 20px;
  background-color: rgb(252, 252, 252);
}





article{
  margin-top: 10px;
  background-color: rgb(224, 212, 172);
  padding: 20px 20px;
}

.menulist{
  background-color: beige;
  padding: 20px 10px;
}